body {
  font-family: "science-gothic", Arial, Helvetica, sans-serif;
}

header {
  display: grid;
  justify-content: center;
}

.add-cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.add-cart > section {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.business{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    
}

footer{
    display: grid;
    justify-content: center;
}
